---
- hosts: <your_host>
  user: ansible
  environment:
    NVM_DIR: "/home/ansible/.nvm"
  vars:
    nvm_version: v0.33.8
    node_version: stable
    git_repository: https://<your_public_repo>.git
    git_version: HEAD
    domain: <your_domain.com>
    website_path: /home/ansible/<your_public_repo>
    website_port: 3000
    user: ansible
  roles:
  - nginx_setup
  - clone_repo
  - set_env
  - yarn_install
  - yarn_build
  - pm2_start
